#map { 
    height: 600px; 
}

#container {
    display: grid;
    grid-template-columns: auto auto;
}

#hack { 
    display: none;
    max-width: 100px !important;
    height: auto;
}

#houston {
    max-width: 100px !important;
}